h1{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #04047a;
    font-size: 3.5rem;
    padding-top: 2rem;
}


#title{
    background-color:#050579 ;
}

.navbar-brand{
    font-family: 'Montserrat';
    font-size: 2.5rem;
    padding-left: 5rem;
    font-weight: bold;
}

.navbar{
    padding: 1.5rem 0 1.5rem;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}

.image{
    width: 800px;
    height: 400px;
    margin-top: 10rem;
   margin-right : 10rem;
}

.nav-tabs{
    color: #0000e6;
    padding-top: 5rem;
}

#myTab{
    padding-left: 5rem;
    padding-right: 5rem ;
}

h2{
    font-family:'Montserrat';
    font-weight: bold;
    color: #04047a;
    text-align: center;
    padding-top: 10rem;
}

p{
    text-align: center;
    font-family: 'Open-Sans';
    font-size: 20px;
}

.btn{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #04047a;
}